body {
    background: linear-gradient(152deg, #1D1D2A 33.19%, #34607C 106.91%);
    height: 100vh;
    color: #FFF;
    background-repeat: no-repeat;
}

.main .logo h1 {
    color: #457B9D;
}


.main {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* background: linear-gradient(152deg, #1D1D2A 33.19%, #34607C 106.91%); */
}

.main .logo {
    width: 100%;
    text-align: center;
}

.main .links {
    width: 100%;
    text-align: center;
}

.main .links .linkDireita {
    float: right;
    text-decoration: none;
    color: #a1a1a1;

    &:hover {
        text-decoration: underline;
        color: #1D3557;
    }
}

.main .links .linkEsquerda {
    float: left;
    text-decoration: none;
    color: #a1a1a1;

    &:hover {
        text-decoration: underline;
        color: #1D3557;
    }
}


.main label {
    padding: 15px;
}

.main input {
    height: 42px;
    padding: 10px;
    color: #2d333a;
    width: 100%;
    border: 1px solid #c2c8d0;
    position: relative;
    background: #FFF;
    border-radius: 15px;
    line-height: 1.1;
    outline: none;
    font-size: 16px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.btnss {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btnss button[type='submit'] {
    font-family: latoregular;
    text-transform: uppercase;
    text-align: center;
    height: 52px;
    width: calc(18rem + 33px);
    margin-top: 1.5rem;
    color: #FFF;
    background: #E63946;
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;

    @media screen and (max-width:340px) {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(1.05);
    }
}


.btnss button {
    outline: none;
    width: calc(18rem + 33px);
    height: 52px;
    padding: 10px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    position: relative;
    color: #2D333A;
    font-size: 16px;
    border: 1px solid #c2c8d0;
    border-radius: 3px;
    background: #FFFFFF;
}