.body001 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.newTreino-content001 {
  background: #1D3557;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
}

.header001 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

.input-group001 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-group001 label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.input-group001 input, select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.group-list001, .exercise-list001 {
  margin-top: 1.5rem;
}

.group-header001 {
  background-color: #2a4e80;
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 0.5rem; */
  margin-top: 0.5rem;

}

.exercise-header001 {
  background-color: #2d495f;
  color: white;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.group-content001 {
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 4px;
}

.exercise-content001 {
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid;
  border-color: black;
  border-top: none;
}
.exercise-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5rem;
}

.exercise-table th, .exercise-table td {
  padding: 0.75rem;
  border: 1px solid #ddd;
}

.exercise-table th {
  background-color: #2a4e80;
  color: white;
}

.add-button001 {
  background-color: #28a745;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s;
  margin-bottom: 15px
}

.add-button001:hover {
  background-color: #218838;
}

.form-buttons001 {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.form-buttons001 button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-button001 {
  background-color: #dc3545;
  color: white;
}

.cancel-button001:hover {
  background-color: #c82333;
}

.save-button001 {
  background-color: #28a745;
  color: white;
}

.save-button001:hover {
  background-color: #218838;
}

.trash001{
  color: red;
}

.trash-pos001{
  text-align: center;
}

.serieNumber{
  color: black;
  text-align: center;
}

.serueNumber-pos001{
  text-align: center
}

.add-exercise001{
  margin-left: 15px;
}

.exercise-card001 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.exercise-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: #f4f4f4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.exercise-icon {
  font-size: 48px;
  color: #555;
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.halter-icon {
  font-size: 48px;
  color: #555;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-input{
  justify-self: center;
}

.textArea{
  text-align: center;
}

.expand{
  margin-right: auto;
  padding-left: 10px;

}