/* style.css */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 20px;
}

.title h1 {
  font-size: 42px;
}

.underline {
  width: 60vw;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
}

.text-input {
  margin-bottom: 20px;
  width: 60%;
}

.text-input label {
  display: block;
  margin-bottom: 10px;
}

.text-input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.square-box {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inner-text {
  font-size: 14px;
  color: #333;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardContainerTreinador {
  align-items: center;
  background-color: white;
  padding: 12px;
  border-radius: 20px;
  margin: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: calc(25% - 24px);
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 250px; /* Ajuste para não exceder o limite */
}

.bntAccountContainerTraining {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.student-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  object-fit: cover;
  margin-right: 10px;
}

.cardText {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #1D3557;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}


.cardContact {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.contactIcon {
  margin-left: 0rem;
  margin-right: 3rem;
}

.mailIcon {
  margin-left: 3rem;
  margin-right: 0rem;
}

.buttonTreino {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #E63946;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  width: 120px;
}

.buttonTreino:last-child {
  margin-right: 0;
}

.iconTreino {
  margin-bottom: 5px;
  color: #FFFFFF !important;
}

.button-container {
  margin-top: 80px;
  display: flex;
}

.button-container button {
  margin-right: 15px;
}

.button-container button:last-child {
  margin-right: 0;
}

.trainer-profile {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.trainer-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
}

.trainer-details {
  margin-left: 20px;
}

.trainer-details h1 {
  margin-bottom: 5px;
}
