/* style.css */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;

}

.title {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 42px;
}

.underline {
    width: 60vw;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
}

.text-input {
    margin-bottom: 20px;
    width: 60%;
}

.text-input label {
    display: block;
    margin-bottom: 10px;
}

.text-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.square-box {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inner-text {
    font-size: 14px;
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite a quebra de linha quando necessário */

}

.cardContainer {
    align-items: center;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    margin: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: calc(20% - 24px);
    flex-shrink: 0;
    box-sizing: border-box;
}

.bntAccountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 54px;
    color: #1D3557;
}

.cardText {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #1D3557;
}

.cancelarButton {
    background: #E63946 !important;
    margin-right: 50px !important;
}